.bloque-categoria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color:#01b0d8;
    padding: 15px;
    width: 200px;
    border-radius: 15px;
    color: white;
}
.elemento-categoria{
    display: flex;
    flex-direction: column;
    color: white;
}

.elemento-categoria>a{
    font-size: 15px;
    margin-top: 20px;
    color: white;
}
.bloque-carrucel-categorias{
    display: grid;
   grid-template-columns: repeat(auto-fit,minmax(220px,220px));
   gap: 1rem;
}